#tour_tour,
#tour_overlay {
    height: 100vh;
    width: 100%;
}

#tour_tour {
    position: absolute;
}

.tour_title {
    top: 0;
    left: 0;
    text-shadow: 0 0 10px #aaa;
    color: white;
    font-size: 2em;
    position: absolute;
    font-weight: bold !important;
    width: 20rem;
}

.tour_description {
    top: 0;
    left: 0;
    box-shadow: 0 0 7px #666;
    border-radius: 7px;
    padding: 11px;
    color: white;
    font-size: 20px;
    position: absolute;
    width: 35rem;
    font-weight: normal !important;
}

.tour_controls {
    top: 0;
    left: 0;
    margin: 8px 0;
    text-align: right;
    padding: 11px;
    color: white;
    font-size: 20px;
    position: absolute;
    z-index: 10000;
    transition: all 0.75s;
    transition-timing-function: ease-in-out;
}

.tour_controls .btn {
    margin-right: 10px;
    box-shadow: 0 0 3px white;
}

#tour_targets {
    top: 0;
    left: 0;
    border-radius: 50%;
    border: 1px solid #333;
    position: absolute;
    opacity: 0.3;
}

.tour_target {
    border-radius: 50%;
    position: relative;
    height: 80%;
    width: 80%;
    top: 9%;
    padding: 0;
    margin: 0 auto;
}

.tour_target_small {
    border: 2px solid #aaa;
}

.tour_target_medium {
    border: 2px solid #666;
}

.tour_element_transition {
    transition: all 0.75s;
    transition-timing-function: ease-in-out;
}

.tour_box_transition {
    transition-property: top, left;
    transition-duration: 0.75s;
    transition-timing-function: ease-in-out;
}

@keyframes targetGlow {
    from {
        box-shadow: 0 0 1px rgba(64, 64, 64, 0.78);
    }
    to {
        box-shadow: 0 0 8px white;
    }
}

.tour_glow {
    animation-duration: 1s;
    animation-name: targetGlow;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.tour_animation_delay1 {
    animation-delay: 0.3s;
}

.tour_animation_delay2 {
    animation-delay: 0.6s;
}

/** shadows **/
.tour_shade {
    /*opacity: 0.8;*/
    position: absolute;
    /*background-color: black;*/
    border-radius: 5px;
}

/*.tour_shade_left {*/
    /*left: 0;*/
/*}*/

/*.tour_shade_right {*/
    /*right: 0;*/
/*}*/

/*.tour_shade_top {*/
    /*top: 0;*/
    /*width: 100%;*/
/*}*/

/*.tour_shade_bottom {*/
    /*width: 100%;*/
/*}*/